h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4b3331;
}
body {
    background-color:#D8D2C2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 560px;
    padding: 33px;
    text-align: center;
    background-color:#bdb5a0;
    margin: 50px auto;
    border-radius: 30px;

}

input {
    width: 470px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
    border: 2px solid #5f2f2c;
    outline: none;
    font-size: 19px;
    border-radius: 20px;
}

.para{
    width: 60px;
    height: 41px;
    background-color:#4b3331;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 19px;
    cursor: pointer;
}

.text ul {
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    background-color:#4b3331;
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
    margin-top: 10px;
    border-radius: 15px;
}

.text ul button {
    position: absolute;
    right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4b3331;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.text ul button:hover {
    background-color:#221a1a;
}
